<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado</span>
            <button class="btn btn-light btn-outline-dark float-end" routerLink="/create-user">Nuevo usuario</button>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Nombre completo</th>
                <th>Usuario</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.username}}</td>
                  <td>
                      <a href="" [routerLink]="['/detail-user/', user.id]">
                          <i class="fas fa-info-circle fa-lg mx-3"></i>
                      </a>
                      <a href="">
                          <i class="fas fa-minus-circle fa-lg text-danger "></i>
                      </a>
                  </td>
                </tr>
              
            </tbody>
          </table>
          <div class="my-5 mx-5" *ngIf="user.length <= 0">
            <strong>Sin resultados</strong>
          </div>
    </div>
</div>

