<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado</span>
            <button class="btn btn-light btn-outline-dark float-end" routerLink="/create-user">Nuevo usuario</button>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Gravatar</th>
                <th >Nombre completo</th>
                <th >Usuario</th>
                <th ></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <a href="">
                        <i class="fas fa-info-circle fa-lg mx-3"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-minus-circle fa-lg text-danger "></i>
                    </a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <a href="">
                        <i class="fas fa-info-circle fa-lg mx-3"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-minus-circle fa-lg text-danger"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Larry the Bird</td>
                <td>@twitter</td>
                <td>
                    <a href="">
                        <i class="fas fa-info-circle fa-lg mx-3"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-minus-circle fa-lg text-danger"></i>
                    </a>
                </td> 
              </tr>
            </tbody>
          </table>
    </div>
</div>

