<div class="container">
    <div class="card my-5 mx-5"> 
        <div class="card-body ">

            <div>
                <i class="fas fa-chevron-circle-left fa-lg text-dark float-start mt-2" (click)="onGoBack()"></i>
            </div>
            <div class="" id="img">
                <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive rounded-circle rounded mx-auto d-block" />
            </div>
            <div class="w-50 mx-auto" id="info">
                <h4 class="mx-5">{{user.name}}</h4>
                <small>
                    <i class="fas fa-map-marker-alt mx-3"></i>
                    <cite title="[user.address.city, ' ', user.address.street]">
                        <a href="">
                            <span>{{user.address.city}},  {{user.address.street}}</span> 
                        </a>
                    </cite>
                </small>
                <p>
                    <i class="fas fa-envelope mx-3"></i>
                    <span>{{user.email}}</span>
                    <br />
                    <i class="fas fa-mobile-alt mx-3"></i>
                    <span>{{user.phone}}</span>
                    <br />
                    <i class="fas fa-globe-americas mx-3"></i>
                    <a href="{{user.website}}">{{user.website}}</a>
                    <br />
                    <i class="fas fa-building mx-3" ></i>
                    <span>{{user.company.name}}</span>
                    <span class="mx-5">{{user.company.catchPhrase}}</span>
                    <span class="mx-5">{{user.company.bs}}</span>
                    <br />
                </p>
                
            </div>
        </div>
    </div>
</div>
