/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(#00000080, #00000080), url('./assets/img/image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
}
